/* variables globales */
:root {
  --primary: #0d6efd;
  --secondary: #6c757d;
  --dark: #2589ed;
  --light: #f8f9fa;
  --white: #ffffff;
  --spacing: 16px;
}

/* reset general */
html,
body {
  margin: 0;
  padding: 0;
}

.navbar {
  background: linear-gradient(90deg, #0d6efd, #2589ed) !important;
  background-color: white !important;
  padding: 0.5rem 1rem !important;
}

.navbar-brand img {
  border-radius: 50%;
  object-fit: cover;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

* {

  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

}

/* typographie */
h1,
h2,
h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  line-height: 1.6;
}


/* boutons */
button {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.stars {
  color: gold;
  font-size: 20px;
}

.carousel-item {
  padding: 40px;
}

.carousel-item img {
  border: 3px solid #0d6efd;
}


.cta {
  background: url('images/cta.jpg') center/cover no-repeat;
  height: 350px;
  position: relative;
}

.cta::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(53, 68, 228, 0.6);
  /* overlay sombre */
}

/* contenu CTA au dessus de loverlay */
.cta .container {
  position: relative;
  z-index: 1;
}

/* liens du footer */
.footer a {
  text-decoration: none;

}

.footer a:hover {
  text-decoration: underline;
}

/* reset du body */
body {
  margin: 0;
  padding: 0;
}

/* images des cartes  */
.card img {
  width: 120px !important;
  height: 120px;
  object-fit: cover;
  display: block;
  margin: 0 auto 15px;
  background-color: aqua;
}

/* styles general des cartes */
.card {
  border-radius: 15px;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* annimation au survol */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* titre des cartes */
.card h5 {
  margin-top: 10px;
  font-weight: bold;
}

/* texte des cartes */
.card p {
  font-size: 14px;
  color: #555;
}

/* texte important dans les cartes */
.card strong {
  color: #007bff;
}

/* etoile de notation */
.stars {
  color: gold;
  font-size: 18px;
}

/* champ de filtre */
#filter {
  border-radius: 10px;
  padding: 10px;
}

/* carte  freelance */
.freelance-card {
  transition: 0.3s ease;
}

/* icons reseaux sociaux */
.social-icons i {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.social-icons i:hover {
  color: #0d6efd;
}

/* section hero (banniere principale) */
.hero {
  margin-top: 0 !important;
  border: none;
  height: 100vh;
  padding-bottom: 50px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('https://images.unsplash.com/photo-1521737604893-d14cc237f11d?w=1600') center/cover no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 20px;
}

/* conteneur du contenu hero */
.hero-content {
  max-width: 700px;
}

/* titre principal */
.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

/* texte descriptif */
.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

/* bouton hero */
.buttons .btn {
  padding: 12px 25px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

/* bouton principal */
.primary {
  background: #007bff;
  color: white;
}

/* bouton secondaire */
.secondary {
  border: 2px solid white;
  color: white;
}

/* responsive hero */
@media(max-width:768px) {
  .hero h1 {
    font-size: 2rem;
  }
}

/* section comment ca marche */
.how-it-works {
  margin-top: 50px;
  color: whitesmoke;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://images.unsplash.com/photo-1600880292203-757bb62b4baf?w=1600') center/cover no-repeat;
  padding: 60px 20px;
  text-align: center;

}

/* titre de la section */
.how-it-works h2 {
  padding-bottom: 50px;
  font-size: 2.2rem;
  margin-bottom: 40px;
}

/* bento grid */
.bento-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px;
}

/* carte de la grille bento */
.card {
  height: 100%;
  padding: 30px;
  border-radius: 20px;
  background: linear-gradient(135deg, #0d6efd, #4f8cff);
  box-shadow: 0 4px 15px rgba(13, 110, 253, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: white;
  transition: 0.3s;
}

/* annimation au survol */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  background: #0d6efd;
}

/* section categories */
.categories {
  margin-top: 70px;
  padding: 60px 20px;
  text-align: center;
}

.categories h2 {
  margin-bottom: 40px;
}

/* grille des categories */
.categories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* carte des categories */
.category-card {
  background: rgb(78, 78, 82);
  padding: 30px;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.category-card i {
  font-size: 1.8rem;
  color: #007bff;
  margin-bottom: 10px;
}

/* effet au survol */
.category-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background: #007bff;
  color: white;
}

.category-card:hover i {
  color: white;
}


/* section tarifs */
.pricing-card {
  border-radius: 15px;
  transition: 0.3s;
}

/* effet au survol */
.pricing-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* offre mise en avant */
.popular {
  border: 3px solid #0d6efd;
  transform: scale(1.05);
}

/* TEXTE CARTES TARIFS */
.card {
  color: #333 !important;
}

/* TITRES */
.card h3,
.card h4,
.card h5 {
  color: #000 !important;
}

/* TEXTE NORMAL */
.card p {
  color: #555 !important;
}

/* PLAN POPULAIRE */
.card.populaire {
  background: #6c6969;
  border: 2px solid #007bff;
}

/* BADGE POPULAIRE */
.populaire .badge {
  background: linear-gradient(45deg, #007bff, #00c6ff);
  color: rgb(36, 35, 35);
}

button,
select {
  text-decoration: none !important;
}

.btn {
  text-decoration: none !important;
}

/*  Mobile (max 576px) */
@media (max-width: 576px) {
  .hero {
    text-align: center;
    padding: 20px;
  }

  .card {
    margin-bottom: 20px;
  }
}

/*  Tablette (max 768px) */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }
}

/*  Desktop (min 1200px) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: auto;
  }
}

.dark-mode {
  background-color: #121212;
  color: rgb(50, 95, 243);
}

.dark-mode .card {
  background-color: #151212;
}

main {
  padding-top: 50px;
}

/* bouton retour */
#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

/* Navbar */
.navbar-brand,
.navbar-brand span,
.navbar .nav-link {
  color: rgb(10, 10, 10) !important;
}

/* Au survol */
.navbar .nav-link:hover {
  color: #0c0c0d !important;
}

/* Icône du mode sombre */
#themeToggle {
  color: rgba(1, 1, 15, 0.984) !important;
}

.card-img-top {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
}